@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

* {
  font-family: "Changa One";
  font-size: 20px;
  user-select: none;
  margin: 0;
  color: var(--colText);

  --colBackground: #222;
  --colTab: #333;
  --colText: #bbb;
  --colText2: #777;
  --colShadow: #222;
  --colButton: #282828;
  --colButtonHover: #555;
  --colButtonClick: #666;
  --colPlus: #43e02b;
  --colMinus: #de2336;
  --colTextStroke: #000;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--colBackground);
}

.button {
  background-color: var(--colButton);
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 3px 3px var(--colShadow);
  transition: background-color 0.2s cubic-bezier(0, 0.5, 0.5, 1),
    transform 0.05s cubic-bezier(1, 0, 0, 1),
    box-shadow 0.05s cubic-bezier(1, 0, 0, 1);
}

.button:hover:not(.disabled) {
  cursor: pointer;
  background-color: var(--colButtonHover);
  transition: background-color 0.2s cubic-bezier(0, 0.5, 0.5, 1);
}

.button:active:not(.disabled) {
  transform: translate(3px, 3px);
  background-color: var(--colButtonClick);
  box-shadow: 0px 0px var(--colShadow);
  transition: transform 0.1s cubic-bezier(1, 0, 0, 1),
    box-shadow 0.1s cubic-bezier(1, 0, 0, 1);
}

.button.disabled {
  opacity: 50%;
}

.boxUpgradeIndicator {
  position: absolute;
  text-align: right;
  right: 1vw;
  font-size: 2vw;
  animation-duration: 1s;
  animation-name: falling;
}

.boxUpgradeIndicator.plus {
  color: var(--colPlus);
}
.boxUpgradeIndicator.minus {
  color: var(--colMinus);
}

@keyframes falling {
  from {
    top: 1vw;
    opacity: 70%;
  }

  to {
    top: 5vw;
    opacity: 0%;
  }
}

#sideBar {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colTab);
  margin: 1em;
  border-radius: 0.5em;
}

#sideBar > * {
  margin-top: 1vh;
}

#boxUpgrade {
  margin-left: 4.5vw;
  margin-top: 1vw;
  font-size: 2vw;
  text-shadow: -1px -1px 0 var(--colTextStroke), 1px -1px 0 var(--colTextStroke),
    -1px 1px 0 var(--colTextStroke), 1px 1px 0 var(--colTextStroke);
}

#box {
  position: relative;
  background-image: url(./resources/box.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 8vw;
  height: 8vw;
}

#boxUpgradeButton {
  margin-top: 2vh;
  width: 13vw;
  font-size: 1.1em;
}

#boxExchangeButton {
  margin-top: 2vh;
  width: 13vw;
  font-size: 1.1em;
}

/* general tabs */
#tabContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-right: 1em;
  margin-bottom: 1em;
}

#tabNavs {
  display: flex;
  height: 2em;
  margin-top: 1em;
}

.tabNav {
  background-color: var(--colTab);
  min-width: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0 0.5em 0 0.5em;
  margin-left: 0.5em;
}

.tabNav:not(.selected) {
  background-color: var(--colButton);
  cursor: pointer;
}

#tabs {
  background-color: var(--colTab);
  padding: 1em;
  border-radius: 0.5em;
  flex-grow: 1;
}

.tab:not(.selected) {
  display: none;
}

#itemTab > div {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: left;
  height: 10vh;
  position: relative;
  overflow: auto;
  margin-bottom: 2vh;
}

.itemName {
  font-size: 1.2em;
  margin-top: calc(5vh - 1.1em);
  margin-left: 12vh;
}

.itemDescription {
  margin-left: 12vh;
}

.itemCount {
  position: absolute;
  font-size: 1.5em;
  bottom: 0;
  left: 8vh;
  text-shadow: -2px -2px 0 var(--colTextStroke), 2px -2px 0 var(--colTextStroke),
    -2px 2px 0 var(--colTextStroke), 2px 2px 0 var(--colTextStroke);
}
